/* NAVBAR */
section [class^="container"]{
    padding: 4rem 2rem;
}

@media screen and (min-width:1024px){
    section [class^="container"]{
        padding: 2rem;
    }
    nav [class^="container"]{
        padding: 0rem;
    }
    section:not(:first-of-type){
        text-align: center;
    }

}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: bisque;
}

section .card, .btn-outline-dark{
    border: 2px solid black;
    box-shadow: 4px 4px black;
    transition: all 0.4 s;
}
.btn-outline-dark:hover{
    box-shadow: 4px 4px bisque;
}
/* Navbar */
.navbar{
    background-color: rgb(255, 255, 255);
}

.navbar-nav .nav-link{
    color: black;
    font-size: 1.1rem;
    transition:  0.5s    ;
}
@media screen and (min-width:1024px){
    .navbar-nav .nav-item{
    padding: 0 1rem;
    }
    
    .navbar-brand{
        font-size: 1.5rem;
    }
}

img{
    padding-top: 75px;
    border-radius: 50%;
    opacity:1;

}

/* pic */

section.me, section.Testimonials{
    background-color: rgba(255, 228, 196, 0.675);
}
@media screen and (max-width:576px){
    section.me{
        text-align:center;
    }
    section.me img{
        width:70%
    }
}

/* Services */

section.services i{
    font-size: 2rem;
    margin: 1rem auto 0;
    border: 2px solid black;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}


section .card{
    max-width: 22rem;
    margin-inline: auto;
}

/* About */
@media screen and (min-width:1024px){

    section.about .container,section.Testimonials .container{
        width: 60%;
    }
}

section.about{
    background-color: rgba(255, 228, 196, 0.675);
}

/* Projects */

section.Projects .card{
    max-width: 17rem;
    text-align: left;
}

section.Projects .card img{
    max-width: 70%;
    margin: 1rem auto;
    border-radius: 10px;
}


/* Testimonials */

section.Testimonials .carousel-control-prev, .carousel-control-next{
    width: 5%;
}

section.Testimonials .carousel-item p{
    max-width: 80%;
    border-left: 5px solid rgb(255, 211, 157);
    /* border-right: 5px solid rgb(255, 211, 157); */
    padding-left: .5rem;
}


section.Testimonials .carousel-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.Testimonials .carousel.carousel-fade .carousel-item{
    transition: opacity 0.5s;
}


/* Contact */
section.Contact .social-media a{
    padding: 0 0.5rem;
    font-size: 1.3rem;
    transition: 0.5s;
}

/* Footer */

.footering{
    background-color:rgba(243, 243, 243, 0.237)
}